.card:hover{
    background-color:#fdcb6e;
    color: #636e72;
    transition: 0.2s;
}

.services-title{
    color: #5954cb;
    letter-spacing: 2px;
}

.img-einstein{
    position: relative;
    width: 110%;
    border-radius: 10px;
    left: -17px;
    top: -10px;
  }

  .footer-einstein{
    display: flex;
    justify-content: space-around;
  
  
  }


  .card{
    box-shadow: 3px 3px 5px #bdc3c7,
                -3px -3px 5px #bdc3c7;
  }
  
  .footer-einstein{
    display: flex;
    justify-content: space-around;
  
  
  }
  
  .web-developer{
    color: #2196f3;
  }
  
  .img-einstein{
    position: relative;
    width: 100%;
    border-radius: 10px;
    left: -0px;
    top: -10px;
  }
  


  .card-footer .instagram{
   
      background-color: #db2f61;
      box-shadow: 0 0 10px #db2f61;
  }
  
  .card-footer .linkedin{
    background-color:#0e76a8 ;
    box-shadow: 0 0 10px #0e76a8;
  }
  

  
  .agrandar{
    background-size: 150% !important;
  }